---
title: index_page.meta.title
description: index_page.meta.description
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  {% include meta.html %}
  {% include stylesheets.html %}
  {% include head_javascripts.html %}


  <link href="/css/royal_preloader.css" rel="stylesheet">

  <!--
  <script type="text/javascript" src="/js/royal_preloader.min.js"></script>
  -->

  <script type="text/javascript">
    Royal_Preloader.config({
        mode:           'progress',
        showProgress:   true,
        background:     '#1d1d1d'
    });
  </script>
</head>



  <!-- Begin Header -->
  <header>
    <!-- Begin Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">{% t navbar.toggle_navigation %}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll-link" href="#home" data-id="home">
            <h2><sup><strong>&nbsp;</strong></sup></h2> </a>
          </div>

          <!-- Collect the nav links-->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-main">
              <li><a href="#home" data-id="home" class="scroll-link" title="{% t navbar.home %}">{% t navbar.home %}</a></li>
              <li><a href="#download" data-id="download" class="scroll-link" title="{% t navbar.download %}">{% t navbar.download %}</a></li>
              <li><a href="#specs" data-id="specs" class="scroll-link" title="{% t navbar.specs %}">{% t navbar.specs %}</a></li>
              <li>{% include resources_navbar_item.html %}</li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End Navigation -->
  </header>
  <!-- End Header -->

  <!-- Begin Jumbotron -->
  <div class="jumbotron jumbotron-main" id="home">
    <div id="map-wrapper">
      <div id="precidiusMap" style="position:absolute; top: 0; bottom: 0; width: 100%; height: 100%; background: hsl(0, 0%, 4%);"></div>
    </div>

    <div class="container center-vertically-holder">
      <div class="center-vertically">
        <div id="scaleReveal" class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
          <object>
			     <embed src="/images/logos/pc-logo-1028.png" height="20%" width="20%">
          </object>
          <div class="ticker">
            <h1>{% t index_page.banner_is_fast %}</h1>


          </div>
          <hr>
          <p>&nbsp;&nbsp;&nbsp; {% t index_page.banner_one_liner %}</p>
          
        </div><!-- /.column -->
      </div><!-- /.vertical center -->
    </div><!-- /.container -->
  </div>
  <!-- End Jumbotron -->

</body>
</html>
